<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <h1>CRUD Authentication</h1>
    <h2>create-post</h2>

    <form action="/posts/create-post" method="POSt">
        <input type="text" id="title" placeholder="Title" name="title" />
        <input type="text" id="content" placeholdr="Content" name="content" />
        <button type="submit">Create</button>
    </form>
</body>
</html>